################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText/bin/Debug
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText/obj/Debug
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.Droid/bin/Debug
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.Droid/obj/Debug
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.iOS/obj/iPhone/Debug
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.UWP/obj/x86/Debug
*.pfx
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.Windows/obj/Debug
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.WinPhone/obj/Debug
/Pgs.CrossPlatform.FormattedText.Core/bin/Debug
/Pgs.CrossPlatform.FormattedText.Core/obj/Debug
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText/bin/Release
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText/obj/Release
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.Droid/bin/Release
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.Droid/obj/Release
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.iOS/obj/iPhone/Release
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.UWP/obj/x86/Release
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.Windows/obj/Release
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.WinPhone/obj/Release
/Pgs.CrossPlatform.FormattedText.Core/bin/Release
/Pgs.CrossPlatform.FormattedText.Core/obj/Release
