################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText/bin/Debug
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText/obj/Debug
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.Droid/bin/Debug
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.Droid/obj/Debug
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.iOS/obj/iPhone/Debug
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.UWP/obj/x86/Debug
*.pfx
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.Windows/obj/Debug
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.WinPhone/obj/Debug
/Pgs.CrossPlatform.FormattedText.Core/bin/Debug
/Pgs.CrossPlatform.FormattedText.Core/obj/Debug
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText/bin/Release
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText/obj/Release
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.Droid/bin/Release
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.Droid/obj/Release
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.iOS/obj/iPhone/Release
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.UWP/obj/x86/Release
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.Windows/obj/Release
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.WinPhone/obj/Release
/Pgs.CrossPlatform.FormattedText.Core/bin/Release
/Pgs.CrossPlatform.FormattedText.Core/obj/Release
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.Windows/bin/Release
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.WinPhone/bin/Release
/Pgs.CrossPlatform.FormattedText.NuGet/bin/Release
/Pgs.CrossPlatform.FormattedText.NuGet/obj/Release
/Pgs.CrossPlatform.FormattedText.NuGet
/Pgs.CrossPlatform.FormattedText.1.0.1.nupkg
/Pgs.CrossPlatform.FormattedText.1.0.2.nupkg
/Pgs.CrossPlatform.FormattedText.1.0.3.nupkg
*.nupkg
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText/bin/NuGetRelease
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText/obj/NuGetRelease
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.Droid/bin/NuGetRelease
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.Droid/obj/NuGetRelease
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.UWP/obj/x86/NuGetRelease
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.iOS/obj/iPhone/NuGetRelease
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.Windows/obj/NuGetRelease
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.WinPhone/obj/NuGetRelease
/Pgs.CrossPlatform.FormattedText.Core/bin/NuGetRelease
/Pgs.CrossPlatform.FormattedText.Core/obj/NuGetRelease
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.Windows/bin/NuGetRelease
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.WinPhone/bin/NuGetRelease
/UpgradeLog.htm
*.bak
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.iOS/bin/iPhoneSimulator/Release
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.iOS/obj/iPhoneSimulator/Release
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.iOS/bin
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.iOS/obj/iPhoneSimulator/Debug
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.Windows/bin/Debug
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.WinPhone/bin/Debug
/Pgs.CrossPlatform.FormattedText/Pgs.CrossPlatform.FormattedText.iOS/obj/iPhoneSimulator/NuGetRelease
